<ion-app>
  <!--  <amplify-authenticator *ngIf="authState !== 'signedin'">
    <amplify-sign-up header-text="My Custom Sign Up Text" slot="sign-up"></amplify-sign-up>
    <amplify-sign-in header-text="My Custom Sign In Text" slot="sign-in"></amplify-sign-in>
  </amplify-authenticator>

  <div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    
  </div> -->
  <div>
    <span>Welcome</span>

    <span *ngIf="isUserLoggedIn">
      <a style="color: crimson;padding-right: 29px;" href="javascript:void(0)" (click)="logout()"> logout </a>
      <ion-router-outlet></ion-router-outlet>

    </span>

    <div *ngIf="!isUserLoggedIn">
      <div id="navbar-top">
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed">
          <div class="container">
            <a class="navbar-brand nav-external" href="#home">Merlin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" (click)="login()" href="javascript:void(0)">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#work">Work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#clients">Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <section id="home" class="page overlay">
        <div class="container">
          <div class="content cover text-center">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="mt-0 mb-4 animated hiding" data-animation="fadeInDown" data-delay="300">We Are Merlin</h1>
                <a class="mt-0 mb-4 btn btn-blue nav-external animated hiding" data-animation="fadeIn" data-delay="900"
                  href="#services">Find more</a>
                <h3 class="mt-0 mb-0 animated hiding" data-animation="fadeIn" data-delay="600">We Have Made A Lot Of
                  Friends.</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-app>