<ion-app>
  <!--  <amplify-authenticator *ngIf="authState !== 'signedin'">
    <amplify-sign-up header-text="My Custom Sign Up Text" slot="sign-up"></amplify-sign-up>
    <amplify-sign-in header-text="My Custom Sign In Text" slot="sign-in"></amplify-sign-in>
  </amplify-authenticator>

  <div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    
  </div> -->

  <span>Welcome</span>
  <div class="spacer"></div>
  <span *ngIf="isUserLoggedIn">
    <a style="color: rgb(255, 255, 255);padding-right: 29px;" href="javascript:void(0)" (click)="logout()"> logout </a>
    <ion-router-outlet></ion-router-outlet>

  </span>
  <span *ngIf="!isUserLoggedIn">
    <a style="color: rgb(255, 255, 255);padding-right: 29px;" href="javascript:void(0)" (click)="login()"> Login
    </a>
  </span>
</ion-app>